rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /settings/{document} {
      allow read, list: if true; // Permitir lectura pública y listado para la configuración del sitio
    }

    match /news/{document} {
      allow read, list: if true; // Permitir lectura pública y listado para las noticias
    }

    match /poolConfig/{document} {
      allow read, list: if true; // Permitir lectura pública y listado para la configuración del pool
    }

    match /profitabilitySettings/{document} {
      allow read, list: if true; // Permitir lectura pública y listado para la configuración de rentabilidad
    }

    match /performanceStats/{document} {
      allow read, list: if true; // Permitir lectura pública y listado para las estadísticas de rendimiento
    }

    match /miners/{document} {
      allow read, list: if true; // Permitir lectura pública y listado para la colección de mineros
    }

    // Reglas para colecciones que requieren autenticación
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
